.list-group{
  position: fixed;
  bottom: 0px;
  top: 75px;
  left: 0px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(218, 176, 200);
}
.list-group.list-group {
  border-radius: 0;
  display: flex;
}

.list-group .list-group-item{
  border: none;
  background-color: rgba(218, 176, 200);
  color: #ffffff; 
  font-size: 0.9em;
  padding: 15px;
  text-align: center;
  height: 60px;
}
.list-group .list-group-item.active {
    background-color: black; 
  }


  .list-group .header {
    border: none;
    color: #ffffff; 
    padding: 15px;
    text-align: center;
    height: 100px;
  }